/*=======================*/
/*=== html & body ===*/

html {
    font-size: 90%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cream);
    color: var(--grey);
}

:root {
    --green500: hsl(158, 36%, 37%);
    --green700: hsl(158, 42%, 18%);
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);
}





/*=======================*/
/*=== Resets ===*/

* {
    box-sizing: border-box;
    margin-bottom: .8em;
}





/*=======================*/
/*=== Typography ===*/

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
    margin-top: 0;
}

h1 {
    font-size: clamp(1rem, 1rem + 3vw, 2rem);
    font-weight: 700;
    font-family: 'Fraunces', serif;
    color: var(--black);
}

h2 {
    font-size: clamp(.3rem, .6rem + 1vw, 2rem);
    color: var(--green);
    font-weight: 400;
}

p,
a {
    font-size: clamp(.2rem, .6rem + 1vw, 2rem);
}




/*=======================*/
/*=== Classes ===*/

.container {
    padding-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 80vw;
    background-color: var(--white);
    border-radius: 7px;
}

.product-image {
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.product {
    text-transform: uppercase;
}

.product-details {
    padding: 0 1.2em;
}

.price-current {
    font-size: clamp(1rem, 1rem + 3vw, 2rem);
    font-weight: 700;
    font-family: 'Fraunces', serif;
    color: var(--green500);
}

.price-original {
    text-decoration: line-through;
}

.add-to-cart {
    display: inline-block;
    padding: .6em 1.5em;
    padding-top: 1em;
    margin-top: .8em;
    border-radius: 7px;
    width: 100%;
    text-align: center;
    background-color: var(--green500);
    font-weight: 600;
    color: var(--white);
}

.add-to-cart .fa {
    margin-right: .8em;
    color: var(--white);
}


/*=======================*/
/*=== Attributions section ===*/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media screen and (min-width: 388px) {
    .product-card {
        width: 70vw;
    }

}

@media screen and (min-width: 550px) {
    .product-card {
        width: 60vw;
    }

}

@media screen and (min-width: 650px) {
    .product-card {
        flex-direction: row;
        width: 80vw;
        height: 70vh;
    }

    .product-image-container,
    .product-details {
        width: 50%;
        margin-bottom: 0;
    }

    .product-details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .product-details > * {
        /*margin-bottom: .1em;*/
    }

    .product-image {
        width: 100%;
        height: 100%;
        max-height: 100%;
        /* object-fit: cover; */
        border-radius: 0;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    html {
        font-size: 90%;
    }

}

@media screen and (min-width: 950px) {
      .product-card {
        width: 70vw;
        height: 80vh;
    }

    
    html {
        font-size: 70%;
    }
}